* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    border: 1px solid;
    width: 100%;
}

header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 2rem;
}

.navbar #logo {
    font-size: 2rem;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

#introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 3rem;
    gap: 1.5rem;
}

#introduction h1 {
    font-size: 2rem;
}

#introduction p {
    margin: 0 9rem;
}

#introduction button {
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    width: 100%;
}

#projects #cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#about {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2rem;
    gap: 3rem;
}

#about .aboutme, #about .whatsnew {
    width: 50%;
}

#about .whatsnew .item {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
}

#about .whatsnew hr {
    margin: 1.5rem 0;
}

#about .whatsnew .item img {
    width: 150px;
}

/* #about .whatsnew .item .item-info {
    
} */

footer {
    width: 100%;
    /* position: absolute;
    left: 0;
    bottom: 0; */
}